a, h1, h2{
    font-family: Matemasie;
}

p {
    font-family: Bebas Neue;
}

#container {
    height: 100vh;
}

.serie {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hbo {
    color: #1F2C56;
}

.netflix {
    color: #E50914;
}

.disney {
    color: #113CCF;
}

.color-gradient {
    background: linear-gradient(90deg, #E50914, #1F2C56, #113CCF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
